@tailwind base;
@tailwind components;
@tailwind utilities;

textarea {
  overflow: hidden;
}

textarea {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.loader {
  animation: loader 1s infinite linear;
}

@keyframes loader {
  0% {
    background-position: 200px 0px;
  }

  50% {
    background-position: 0px 0px;
  }

  100% {
    background-position: 200px 0px;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.shadow-smooth {
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.01),
    0px 2px 2px 0px rgba(0, 0, 0, 0.01),
    0px 4px 2px 0px rgba(0, 0, 0, 0.01),
    0px 7px 3px 0px rgba(0, 0, 0, 0.00),
    0px 11px 3px 0px rgba(0, 0, 0, 0.00);
}